@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');



#p1,#p2,#d1,#d2{
    width: 40px;
    border-width: 0px;
    border-bottom: solid #4798ED 3px;
    background-color: transparent;
    font-size: 50px;
    color: #4798ED;
    text-align: left;
}
#p1::placeholder,#p2::placeholder,#d1::placeholder,#d2::placeholder{
color: rgb(175, 175, 175);
}
#p1:focus,#d1:focus{
    border-bottom: solid #4798ED 3.25px;
}
#p2:focus,#d2:focus{
    border-bottom: solid #4798ED 3.25px;
}
#demo{
  width:400px;
  padding: 10px;
  background-color: white;
  font-size: 30px;
  color: #4798ED ;
}
h1{
  padding-top: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 100px;
  text-align: center;
  color: white;
  text-decoration: white underline;
  background-color: rgba(71, 151, 237, 0.486) ;
  width: 100vw;
  padding-bottom: 20px;
  margin-top: 0px;
  
}
#bu{
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    border: none;
    font-size: 30px;
    background-color: #4798ED;
    color: white;
}

#bu:active{
  background-color: rgb(97, 166, 240);
}

.wrapper{
font-size: 50px;

background-color: white;
color: #4798ED;
padding: 10px;
width: 400px;
font-family: 'Kumbh Sans', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{
  position: relative;
  background: url(blueprints.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  padding-left: 0px;
  
}
.footer{
  
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color: #4798ED;
  height: 80px;
  color: white;
}
.copyright{
  float: left;
  margin-left: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: left;
}
.right{
  float: right;
  margin-right: 30px;
  font-family: 'Kumbh Sans', sans-serif;
}